@use "variables" as v;
@use "mixin" as m;

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

ul,
ol,
li {
    list-style-type: none;
}

button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

:focus,
:active {
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:focus,
a:active {
    outline: none;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: Manrope, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1310px;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
}

.button {
    padding: 16px 40px;
    background-color: v.$primary;
    border-radius: 12px;
    transition: all .3s;

    @include m.font(18px, 600, v.$white, 1.75);

    &:hover {
        scale: 1.1;
    }
}

.heading {

    &-subtitle {
        @include m.font(24px, 600, v.$black, 1.5);
        letter-spacing: -0.03em;
    }

    &-title {
        @include m.font(58px, 800, v.$black, 1.3);
        letter-spacing: -0.03em;
    }

    @media (max-width: v.$media_xxl) {
        &-subtitle {
            @include m.font(18px, 600, v.$black, 1.5);

        }

        &-title {
            @include m.font(40px, 800, v.$black, 1.3);
        }
    }

    @media (max-width: v.$media_xl) {
        &-subtitle {
            @include m.font(16px, 600, v.$black, 1.5);

        }

        &-title {
            @include m.font(32px, 800, v.$black, 1.3);
        }
    }
}